# =========================
# .NET / ASP.NET Core
# =========================
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# ASP.NET Core
appsettings.Development.json
appsettings.Local.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Publish
publish/
dist/
